<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Standings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card (click)="viewStandings(2020,3)">
      <ion-card-content>
        2020
      </ion-card-content>
    </ion-card>

    <ion-card (click)="viewStandings(2019,21)">
      <ion-card-content>
        2019
      </ion-card-content>
    </ion-card>

    <ion-card (click)="viewStandings(2018,21)">
      <ion-card-content>
        2018
      </ion-card-content>
    </ion-card>

    <ion-card (click)="viewStandings(2017,20)">
      <ion-card-content>
        2017
      </ion-card-content>
    </ion-card>

    <ion-card (click)="viewStandings(2016,21)">
      <ion-card-content>
        2016
      </ion-card-content>
    </ion-card>

    <ion-card (click)="viewStandings(2015,19)">
      <ion-card-content>
        2015
      </ion-card-content>
    </ion-card>

    <ion-card (click)="viewStandings(2014,19)">
      <ion-card-content>
        2014
      </ion-card-content>
    </ion-card>

    <ion-card (click)="viewStandings(2013,19)">
      <ion-card-content>
        2013
      </ion-card-content>
    </ion-card>

    <ion-card (click)="viewStandings(2012,20)">
      <ion-card-content>
        2012
      </ion-card-content>
    </ion-card>

    <ion-card (click)="viewStandings(2011,19)">
      <ion-card-content>
        2011
      </ion-card-content>
    </ion-card>

    <ion-card (click)="viewStandings(2010,19)">
      <ion-card-content>
        2010
      </ion-card-content>
    </ion-card>

    <ion-card (click)="viewStandings(2009,17)">
      <ion-card-content>
        2009
      </ion-card-content>
    </ion-card>

    <ion-card (click)="viewStandings(2008,18)">
      <ion-card-content>
        2008
      </ion-card-content>
    </ion-card>

    <ion-card (click)="viewStandings(2007,17)">
      <ion-card-content>
        2007
      </ion-card-content>
    </ion-card>

    <ion-card (click)="viewStandings(2006,18)">
      <ion-card-content>
        2006
      </ion-card-content>
    </ion-card>

    <ion-card (click)="viewStandings(2005,19)">
      <ion-card-content>
        2005
      </ion-card-content>
    </ion-card>

    <ion-card (click)="viewStandings(2004,18)">
      <ion-card-content>
        2004
      </ion-card-content>
    </ion-card>

    <ion-card (click)="viewStandings(2003,16)">
      <ion-card-content>
        2003
      </ion-card-content>
    </ion-card>

    <ion-card (click)="viewStandings(2002,17)">
      <ion-card-content>
        2002
      </ion-card-content>
    </ion-card>

    <ion-card (click)="viewStandings(2001,17)">
      <ion-card-content>
        2001
      </ion-card-content>
    </ion-card>

    <ion-card (click)="viewStandings(2000,17)">
      <ion-card-content>
        2000
      </ion-card-content>
    </ion-card>


  </ion-list>
</ion-content>
