<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Drivers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-searchbar showCancelButton="always" [(ngModel)]="driverName" (ionChange)="getDriver(driverName)"></ion-searchbar>

<ion-card *ngIf="searchStatus==true">
  <ion-card-header>
    <ion-card-title>
      {{list.givenName}} {{list.familyName}}
    </ion-card-title>

    <ion-card-subtitle>
      DOB: {{list.dateOfBirth}}
      
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Driver Number: {{list.permanentNumber}}
    <p>Nationality: {{list.nationality}}</p>
    <p><a href="{{list.url}}" target="_blank">Details</a></p>
  </ion-card-content>
</ion-card>

  <ion-list>
    <ion-card *ngFor="let name of names;let i = index">
      <ion-card-header>
        <ion-card-title>
          {{i+1}}. {{name.givenName}} {{name.familyName}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{name.nationality}}
        <p><a href="{{name.url}}" target="_blank">Details</a></p>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>