<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <ion-item button (click)="toPageOne()">Ferrari</ion-item>
  <ion-item button (click)="toPageTwo()">McLaren</ion-item>
  <ion-item button (click)="toPageThree()">Williams</ion-item>
</ion-content>