<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Formula 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  -->
  <div>
    <div id="f1">
      <img src="../../../assets/icon/640px-F1.svg.png">
      
    </div>
    <div id="container">

      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <ion-card>
            <ion-card-content>Formula One (also known as Formula 1 or F1) is the highest class of international single-seater auto racing sanctioned by the Fédération Internationale de l'Automobile (FIA) and owned by the Formula One Group.
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card>
            <ion-card-content>
              The World Drivers' Championship, which became the FIA Formula One World Championship in 1981, has been one of the premier forms of racing around the world since its inaugural season in 1950.
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card>
            <ion-card-content>
              The word "formula" in the name refers to the set of rules to which all participants' cars must conform. A Formula One season consists of a series of races, known as Grands Prix(French for 'grand prizes' or 'great prizes'), which take place worldwide on purpose-built circuits and on public roads.
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card style="width: 100%;">
            <ion-card-header>
              <ion-card-title>
                Most Successful Teams
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-item button (click)="toPageOne()">
                1. Ferrari
                <img slot="end" style="width: 40px;" src="../../../assets/icon/ferrari-ges.svg">
              </ion-item>
              <ion-item button (click)="toPageTwo()">
                2. McLaren
                <img src="../../../assets/icon/mclaren-automotive-logo.svg" style="width: 100px;height: 50px;" slot="end">
                </ion-item>
              <ion-item button (click)="toPageThree()">
                3. Williams
                <img src="../../../assets/icon/williams.svg" style="width: 60px;height: 30px;" slot="end">
                </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-slide>

      </ion-slides>
    </div>
  </div>

</ion-content>